{% extends "base.html" %}

{% block content %}
          <!-- using an IFRAME instead of a video element as discussed in class-->
          <!-- some of the attributes in the video are required by youtube in order to correctly embed the video in the player. -->
          Q and A<br>
          <div>
            What is spotify?<br>
            Here's a video explaining it <br><iframe width="560" height="315" src="https://www.youtube.com/embed/j8L5ySUufdE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div>
          <br><br>how is logging in handled? you login through the spotify API, so I don't handle your credentials at all, which is neat, although it makes incliding a database harder... <br><br>
          why was this site made? Because I don't really like spotify's random playlist algorithms, and wanted to try my hand at making my own, which gave me what I wanted, or at least to try to. <br><br>
          </div>
          <div>
          <br><br> How will you include an HTML canvas element in this project?
          <canvas id="myCanvas" width="200" height="100" style="border:1px solid #d3d3d3;">Your browser does not support the HTML canvas tag.</canvas>
          <script>
          var c = document.getElementById("myCanvas");
          var ctx = c.getContext("2d");
          ctx.font = "30px Arial";
          ctx.fillText("Like this :)", 10, 50);
          </script>
          </div>
          <div id="jsdiv"> <br><br> How will you include reactive javascript in this site?
          <button type="button" id="gobutton">Click this button to find out how </button>
          <script>
          document.getElementById("gobutton").addEventListener("click",ma);

          function ma() {
             document.getElementById("jsdiv").style.backgroundColor = "blue";
          }
          </script>
          </div>
          <div>
          what is your logo?: It's an SVG, take a look!
          </div>
          <svg height = "5%" width="5%" viewBox="0 0 100 100">
              <circle cx="50" cy="50" r="40" stroke = "black" stroke-width="3" fill="green"/>
              <text x="20" y="40" fill = "black" transform="rotate(30,20,40)"> Playlister!</text>
          </svg>
          <form>
            <label for="inp">Leave a comment:</label>
            <input type="text" id="inp" name="inp">

            <input type="submit" value="Submit">
            <input type="reset" value="Reset">
          </form>
          Comments:
          {% for c in comments %}
          {{c.dt}}<br>
          {% endfor %}
        {% endblock %}
