<!DOCTYPE html>
<!--
Name: Ethan Smith
Assignment: project
Class: Web programming
Date: Oct 4, 2021
-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
		<link rel="stylesheet" type="text/css" href="css/styles.css">
    </head>
    <body>
      <svg height = "100" width="100" viewBox="0 0 100 100" style="position:absolute">
        <circle cx="50" cy="50" r="40" stroke = "black" stroke-width="3" fill="green"/>
        <text x="20" y="40" fill = "black" transform="rotate(30,20,40)"> Playlister!</text>
      </svg><br>
      <nav>
	  	<div class="nava">
        <a href="/me"> test </a>
			<a href = "/">Home </a>
			<a href = "login">Login</a>
			<a href = "register">Register</a>
			<a href = "create">Create a list !</a>
			<a href = "saved"> Your lists</a>
			<a href = "about">About the site</a>
      <a href = "test">       Name: {{ req.name }}</a>
			<br>
      <a href="logout"> Logout </a>
		</div>
      <br>
	  </nav>
	  <br>
      <main>
        <div id="mainContent">
          {% block content %}{% endblock %}
          {{ contents }}
        </div>
      </main>
	  </div>
    </body>
</html>
