{% extends "base.html" %}

{% block content %}
          <form>
            <label for="first_name">Username:</label>
            <input type="text" id="username" name="username">
            <br>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email">
            <br>

            <label for="pass">Password:</label>
            <input type="password" id="pass" name="pass">
            <br>

            <label for="pass2">Confirm Password:</label>
            <input type="password" id="pass2" name="pass2">
            <br>

            <input type="submit" value="Submit">
            <input type="reset" value="Reset">
          </form>
        {% endblock %}
