{% extends "base.html" %}

{% block content %}

results<br>
{% for item in results %}
  <div class = "card b clearfix">
  <div class="l"> <img src="{{item.album.images[0].url}}" class='preview'>{{ item.name }} by {{item.artists[0].name}} <br> <a id ="{{item.album.artists[0].id}}" href="linky?id={{item.album.artists[0].id}}&type={{item.id}}"> Create a list based on this entry</a><br>
  <br></div>{% if item.preview_url%}
    <audio controls class="r"><source src="{{item.preview_url}}"> </audio>
  {% else %}
    No preview available :(
  {% endif %}
  </div><br>
{% endfor %}
<script>
{% for item in results %}
  document.getElementById("{{item.album.artists[0].id}}").addEventListener("click", function() {
      document.getElementById("{{item.album.artists[0].id}}").innerHTML = "This will take a second, just wait";
  });
{% endfor %}
</script>
{% endblock %}
