{% extends "base.html" %}

{% block content %}

          <form method="post" action="/create" >
            Other options coming soon... :)
            <!--<select id = "type" name = "type">-->
              <!--<option value="artist">Artist</option>-->
              <!--<option value = "song"> Song :)</option>-->
              <!--<option value = "Genre">Genre</option>-->
            <!--</select> -->
            <br>input a song title
            <br><br>
            <label for="inp">Search:</label>
            <input type="text" id="inp" name="inp" placeholder="_">
            <br><br>
            <input type="submit" value="Submit">
            <input type="reset" value="Reset">

          </form>
          {% endblock %}
