body {
	background-color:#1DB954;
	font-family: 'Ubuntu', sans-serif;
}
#realbody {
	/*background-color:#FEFEFE;*/
	width:60%;
	margin:auto;
	padding:10px;
	/*height:100vh;*/
}
.nava {
	margin:auto;
	width:100%;
	padding-top:10px;
}
main {
	background-color:#FEFEFE;
	height:100vh;
	width:60%;
	margin:auto;
	padding:10px;
	font-family:sans-serif;
}
a {
	text-decoration:none;
	color:#0A0A0A;
	font-family: 'Ubuntu', sans-serif;
}
nav {
	width:60%;
	margin:auto;
	background-color:#FEFEFE;
	padding:10px;
}
nav a{
	font-family: 'Ubuntu', sans-serif;
	background-color:#c7c7c7;
	padding:10px;
}
nav a:hover{
		background-color:#BBAAAA;
		padding:10px;
}
h1,h2,h3,h4,h5,h6 {
	text-align:center;
}
