
@media only screen and (min-width:600px) {
body, nav, main {
  margin: 0;
  padding: 0;
}
body {
  background-color: #264653;
  color: white;
  padding: 0 20px;
  margin-bottom: 60px;
}

nav {
  padding: 10px 0;
  background-color: #2a9d8f;
  border-radius: 50px;
}
.grid {
  display: inline-grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  margin: 10px 0;
  width: 100%;
}

.cell {
  color: white;
  flex-grow: 0.25;
  text-align: center;
  text-decoration: none;
  font-size: xx-large;
  padding: 5px;
}

.cell:hover {
  background-color: #e76f51;
  border-radius: 50px;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row img {
  width: 250px;
  height: auto;
  padding: 15px 0;
  aspect-ratio: 1;
}
.articlebody {
  width:85%;
  background-color: #464653;
  margin:auto;
  font-size:2em;
  overflow:auto;
}
.articlebody h1,h3,h6{
  text-align: center;
}
ul {
  list-style: square inside;
}
ol {
  list-style: number inside;
}
li ul li { /* I think this is the syntax for this */
  margin-left: 10%;
  margin-top:1%;
  margin-bottom: 1%;
}
.articlemainimage {
  width:30%;
  height:30%;
  margin:auto;
  display:block;
}

.title {
  text-align:center;
}
.artimg{
  width:30%;
  height:30%;
}
.pre {
  max-width: 100px;
}
.rounder {
  border-radius: 50%;
}
.pa {
text-align:justify;
margin:3%;
}
.box {
  border: 1px solid lightgrey;
  padding:1%;

}
a {
  color:white;
}
.box:hover {
  text-shadow: 2px 2px #0F0FCB;
  border: 1px solid darkgrey;
  background-color:#404050;
}
.lr {

  margin:10px;
}
.l { /*  Use these inside a div to set the images to two different sides */
  float:left;
  width:47%;
}
.ll {
  float:left;
}
.r {
  float:right;
  width:47%;
}
footer {
  position:fixed;
  bottom:0;
}
}
@media only screen and (max-width:600px) { /* Styling for devices */
  * {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: #264653;
    color: white;
    padding: 0;
    padding-bottom: 20px;
  }

  nav {
    padding: 10px 0;
    background-color: #2a9d8f;
    border-radius: 50px;
  }
  .grid {
    display: inline-grid;
    grid-auto-flow: row;
    grid-gap: 10px;
    margin: 10px 0;
    width: 100%;
  }

  .cell {
    color: white;
    flex-grow: 0.25;
    text-align: center;
    text-decoration: none;
    font-size: xx-large;
    padding: 5px;
  }

  .cell:hover {
    background-color: #e76f51;
    border-radius: 50px;
  }

  .column {
    float: left;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .row img {
    width: 250px;
    height: auto;
    padding: 15px 0;
    aspect-ratio: 1;
  }
  .articlebody {
    width:100%;
    background-color: #464653;
    margin:auto;
    font-size:2em;
    overflow:auto;
  }
  .articlebody h1,h3,h6{
    text-align: center;
  }
  ul {
    list-style: square inside;
  }
  ol {
    list-style: number inside;
  }
  li ul li { /* I think this is the syntax for this */
    margin-left: 10%;
    margin-top:1%;
    margin-bottom: 1%;
  }
  .articlemainimage {
    width:30%;
    height:30%;
    margin:auto;
    display:block;
  }

  .title {
    text-align:center;
  }
  .artimg{
    width:30%;
    height:30%;
  }
  .pre {
    max-width: 100px;
  }
  .rounder {
    border-radius: 50%;
  }
  .pa {
  text-align:justify;
  margin:3%;
  }
  .box {
    border: 1px solid lightgrey;
    padding:1%;

  }
  a {
    color:white;
  }
  .box:hover {
    text-shadow: 2px 2px #0F0FCB;
    border: 1px solid darkgrey;
    background-color:#404050;
  }
  .lr {

    margin:10px;
  }

  footer {
    position:fixed;
    bottom:0;
  }
}
fieldset {
  border-radius: 5px;
}

table, th, td {
  border: 1px solid white;
}


