input[type=text] {
	border:none;
	background-color: #012456;
	color:white;
}
input[type=submit]{
	all:unset;
	color:yellow;

}
input[type=reset]{
	all:unset;
	color:yellow;
}
input[type=submit]:hover{
	color:grey;
	cursor: pointer;
}
input[type=reset]:hover{
	color:grey;
	cursor: pointer;
}
.b{
	border: 1px solid lightgrey;
}
.ll{
margin:0:auto;
}
.clearfix::after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}
body {
	background-color:#DDDDDD;
	/*background-color: #012456;*/
}
#realbody {
	/*background-color:#FEFEFE;*/
	width:60%;
	height:100%;
	margin:auto;
	padding:0px;
	font-family:sans-serif;

	/*border-width:1px;
	border-color:grey;*/

	/*height:100vh;*/
}
.controller { /* This is the windows powershell bit */
	background-color: #2b2b2b;
	color:white;
	font-family: 'Inconsolata', monospace;
	padding:10px;
	margin:0px;
}
#yeet {
	position:absolute;
	right:0;
	font-family: 'Ubuntu', sans-serif;
	width:15%;
	/*margin:auto;*/
	background-color:#FEFEFE;
	/*padding:10px;*/
}
#yeet a{
	text-decoration:none;
	color:#0A0A0A;
	margin:3px;
	background-color:#c7c7c7;
	padding:10px;
}
#yeet a:hover{
		background-color:#BBAAAA;
		padding:10px;
}
.nava {
	/*margin:auto;*/
	width:100%;
	padding-top:0px;
	font-family: 'Ubuntu', sans-serif;
}
.nava a {
	text-decoration:none;
	color:#0A0A0A;
}
nav {
	position: absolute;
	top 100px;
	width:15%;
	margin:auto;
	background-color:#FEFEFE;
	/*padding:10px;*/
}
#mainContent {
	background-color: #012456;
	margin:0px;
}
.min:hover {
	background-color:grey;
}
.close:hover {
	background-color:red;
}
main {
	/*background-color:#FEFEFE;*/
	background-color: #012456;
	color:white;
	height:100vh;
	width:60%;
	margin:auto;
	padding:0px;
	border: 1px solid lightgrey;
  font-family: 'Inconsolata', monospace;}
	main a{
		text-decoration:none;
		cursor: pointer;
		color:yellow;
	}
	main a:hover {
		text-decoration:none;
		cursor: pointer;
		color:Grey;
	}

.smalla {
	font-size: .5em;
}
.preview {
	width:50px;
	height:50px;
}
.l {
	float:left
}
.r {
	float:right;
}

nav a{
	margin:3px;
	background-color:#c7c7c7;
	padding:10px;
}
nav a:hover{
		background-color:#BBAAAA;
		padding:10px;
}
h1,h2,h3,h4,h5,h6 {
	text-align:center;
}
